/* page */
.container {
	text-align: center;
	margin: 0 auto;
}

.chart-container {
	margin: 3px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

.code {
	width: 100%;
	border: 1px sollid #ccc;
}

/* chart */


.iphone {
	fill: green;
	stroke: green
}

.custom-axis {
	stroke: black;
}

.custom-scale {
	fill: #efefef;
	stroke: black;
	fill-opacity: .3
}
.custom-shape {
	stroke: white;
	stroke-width: 2;
	fill: #b0d6b0;
	fill-opacity: .8;
}